/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #000000; */
    color: #ffffff;
    
}

/* --Elimina las flechas de los input numericos */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
               -webkit-appearance: none;
                margin: 0;
} 
input[type=number] {
    -moz-appearance: textfield;
}

body{
    background-color: #282828;
}

/* --Menu-- */

.navbar{
    background-color: #8a2be2;
}

.dropdown-menu{
    background-color: #8a2be2;
}

.nav-link{
    color: #ffffff;
}

.dropdown-item{
    color: #ffffff;
}


/* ----------------------------------------------- */

.carousel-item img{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 40px;
    width: 70%;
    height: 400px;
}

.imagen-principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 40px;
    width: 52%;
    height: 400px;
}


section > img{
    display: block;
    width: 100%;
    margin: auto;
}

h2 {
    color:#8a2be2;
    text-align: center;
}

article {
    color:white;
    font-family: Arial, Helvetica, Sans-serif,"Myriad Pro";
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    line-height: 30px;
    text-shadow: 1px 1px 1px #8f8a8a;
}

.section-principal{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}

.contenedor{
    width: 95%;
    max-width: 1200px;
    margin: 1em auto;
    padding: 40px 0;
    display: grid; 
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.footer{
    height: 75px;
    text-align: center;
    background-color: #8a2be2;
}

.footer img{
    align-items: center;
    background-color: #8a2be2;
    height: 40px;
    width: 45px;
    margin-top: 5px;
    padding: 2px 8px; 
}

/* --Formulario de contacto-- */

#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(../Imagenes/fondo.png) no-repeat;
    background-position: center;
    background-size: cover;

}

.contenedor-contacto{
    position: relative;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor-contacto h2{
    font-size: 2.5rem;
    text-align: center;
}

.input-group{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #ffffff;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-group input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #ffffff;
}

.input-group i{
    position: absolute;
    color: #ffffff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;

}

button{
    width: 100%;
    height: 45px;
    margin-top: 10px;
    border-radius: 40px;
    background: #8a2be2;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

button:hover{
    opacity: .9;
}

/* --fin formulario contacto */

/* diseño responsive */

@media(max-width:412px){
    #contacto{
        width: 100%;
    }
    .contenedor{
        display: grid;
        grid-template-columns: 100%;
    }
    .imagen-principal{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        border-radius: 30px;
        width: 70%;
        height: 200px;
    }
}

@media(max-width:320px){
    #contacto{
        width: 100%;
        padding: 0 5px;
        background: none;
    }
}

