/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

header{
    display: flex;
    height: 70px;
    background-color: #8a2be2;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
    background-color: #8a2be2;
}

.logo img{
    height: 50px;
    margin-right: 10px;
    background-color: #8a2be2;
}

header h2{
    background-color: #8a2be2;
}

/* Menu de navegación */

.menu ul{
    list-style: none;
}

.menu ul a{
    display:block;
    color:#ffffff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    text-transform:uppercase;
    letter-spacing:1px;
    background-color: #8a2be2;
}

.menu ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

nav a:hover {
    background:#c694f5;
}

.menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }
   
/* menu desplegable */
   
.menu ul ul li {
    float:none;
    width:auto
}  

.menu ul li:hover > ul {
    display:block;
}

section > img{
    display: block;
    width: 100%;
    margin: auto;
}

h2 {
    color:#8a2be2;
    text-align: center;
}

article {
    color:white;
    font-family: Arial, Helvetica, Sans-serif,"Myriad Pro";
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    line-height: 30px;
    text-shadow: 1px 1px 1px #8f8a8a;
}

.contenedor-FullSize{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    /* display: grid;
    grid-template-columns: 50% 50%; */
}

.contenedor{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    display: grid; 
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.rrss{
    display: flex;
    background-color: #8a2be2;
}

.pie-de-pagina img{
    align-items: center;
    background-color: #8a2be2;
    height: 40px;
    width: 45px;
    margin-top: 5px;
    padding: 2px 8px; 
}

footer{
    height: 75px;
    text-align: center;
    background-color: #8a2be2;
}