/* reset */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif,"Myriad Pro";
    color: #ffffff;
    
}

/* --Elimina las flechas de los input numericos */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
               -webkit-appearance: none;
                margin: 0;
} 
input[type=number] {
    -moz-appearance: textfield;
}

body{
    background-color: #282828;
    transition: .3s;

    &.light{
        background-color: #cdcdcd;
        transition: .3s;
    }
}

/* --Menu-- */

.navbar{
    background-color: #8a2be2;
}

.dropdown-menu{
    background-color: #8a2be2;
}

.nav-link{
    color: #ffffff;
}

.dropdown-item{
    color: #ffffff;
}

.carousel-item img{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 40px;
    width: 1020px;
    height: 400px;
}

.imagen-principal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-radius: 40px;
    width: 1020px;
    height: 400px;
}

.imagen-vision{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    width: 1020px;
    height: 400px;
}


section > img{
    display: block;
    width: 100%;
    /* margin: auto; */
    margin-top: 15px;
}

h2 {
    color:#8a2be2;
    text-align: center;
    margin-top: 20px;
}

article {
    color:white;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    line-height: 30px;
    text-shadow: 1px 1px 1px #8f8a8a;
    margin-top: 30px;
}

.section-principal{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
}

.section-secundario{
    width: 95%;
    max-width: 1200px;
    margin: 1em auto;
    padding: 40px 0;
    display: grid; 
    grid-template-columns: 50% 50%;
    gap: 1rem;
}

.btn_scrollTop{
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 15px 20px;
    background: #965dcc;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    transform: translateY(100px);
    transition: .3s;

}

.btn_scrollOn{
    transform: translateY(0);
}

.footer{
    height: 75px;
    text-align: center;
    background-color: #8a2be2;
}

.footer img{
    align-items: center;
    background-color: #8a2be2;
    height: 40px;
    width: 45px;
    margin-top: 5px;
    padding: 2px 8px; 
}

/* --Formulario de contacto-- */

#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(../Imagenes/fondo.png) no-repeat;
    background-position: center;
    background-size: cover;

}

.contenedor-contacto{
    position: relative;
    width: 400px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor-contacto h2{
    font-size: 2.5rem;
    text-align: center;
}

.input-group{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #ffffff;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #ffffff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-group input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #ffffff;
}

.input-group i{
    position: absolute;
    color: #ffffff;
    font-size: 1.6rem;
    top: 19px;
    right: 8px;

}

.btnEnviar{
    width: 100%;
    height: 45px;
    margin-top: 10px;
    border-radius: 40px;
    background: #8a2be2;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

.btnEnviar:hover{
    opacity: .8;
}

.popup{
    width: 400px;
    background: #b4b2b2;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 60%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #8a2be2;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

/* --fin formulario contacto */

/* --modo claro-- */

.switch {
    background: #f6d660;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #fff;
        top: 0;
        left: unset;
        right: 0;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px #00000033;
    }
}

.switch.active {
    background: rgb(44, 43, 41);
    color: black;

    &::after {
        right: unset;
        left: 0;
    }
}

span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

body.light article {
    color: #282828;
}

body.light p {
    color: #282828;
}

/* ------------------------------ */

/* diseño responsive */

@media(max-width:820px){
    .imagen-principal{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        border-radius: 30px;
        width: 620px;
        height: 300px;
    }

    .imagen-vision{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        width: 620px;
        height: 300px;
    }

}

@media(max-width:412px){
    #contacto{
        width: 100%;
    }
    .section-secundario{
        display: grid;
        grid-template-columns: 100%;
    }
    .imagen-principal{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        border-radius: 30px;
        width: 350px;
        height: 200px;
    }

    .imagen-vision{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        width: 325px;
        height: 200px;
    }
}

@media(max-width:320px){
    #contacto{
        width: 100%;
        padding: 0 5px;
        background: none;
    }

    .imagen-principal{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        border-radius: 30px;
        width: 280px;
        height: 150px;
    }

    .imagen-vision{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        width: 280px;
        height: 150px;
    }
}

